body{
    background-color: black;
    background-image: url('./Assets/background-image.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    overflow-x: hidden;
}

main{
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: 'Public Sans', sans-serif;;
}

img{
    width: 300px;
    border-radius: 50vw;
}

.container{
    text-align: center;
    -webkit-backdrop-filter: blur(4px) saturate(192%);
    backdrop-filter: blur(4px) saturate(192%);
    background-color: rgba(17, 25, 40, 0.61);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px 20px;
    color: white;
}

h1{
    font-family: 'DM Serif Display', serif;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: antiquewhite;
    text-decoration: underline;
    transition: all 300ms ease-in-out;
}